@tailwind base;
.low-light-blue {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 40%, #4299E1 40%);
  padding-right: 15px;
}
.spectral {
  font-family: 'spectral';
  font-weight: 800;

}
.josefin{
  font-family: 'josefin sans';
}
.lato{
  font-family: 'lato';
}

.fadein{
  opacity: 0;
}
@tailwind components;
@tailwind utilities;
